<div class="list-inline-item col-12 col-lg-4">
    <div class="d-block my-auto py-1 py-lg-0 text-lg-left d-lg-none">
        <a href="{% url 'homepage' %}" class="nav-link main-logo-link d-block mt-0 mb-0 ms-auto me-auto text-center">
            <h2 class="logo-font text-white my-0">Books For <em>You</em></h2>
        </a>
    </div>
</div>
<div class="list-inline-item">
    <a class="ms-3 text-white nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="row">
        <div class="col-12">
            <div class="dropdown-menu border-0 w-100 p-3 rounded-3 my-0 d-lg-none" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'books' %}">
                    <div class="input-group w-100">
                        <label for="search-phone" class="d-none">Search</label>
                        <input class="form-control border border-white rounded-start-5" type="text" id="search-phone" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control form-control btn btn-black border border-white rounded-end-5" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                                <span class="d-none">Submit Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
<div class="list-inline-item dropdown">
    <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options-mobile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu p-0 border-0" aria-labelledby="user-options-mobile">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_book' %}" class="dropdown-item">Add Book to Database</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</div>
<div class="list-inline-item">
    <a class="{% if total %}text-warning font-weight-bold{% else %}text-white{% endif %} nav-link d-block d-lg-none me-3 " href="{% url 'view_basket' %}">
        <div class="text-center">
            <div><i class="fa-solid fa-basket-shopping"></i></div>
            <p class="my-0">
                {% if total %}
                    £{{ total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>