{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="login-form">
    <h1 class="mb-4 text-center text-white">{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center text-white">We have sent you an e-mail with a link to reset you're password. Please check your inbox.</p>
    <div class="text-center">
        <a class="btn btn-brown rounded-3 text-center" href="{% url 'account_login' %}">Back to Login</a>
    </div>
</div>


{% endblock %}