{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 sign-up-form">
            <div class="card-sign-up shadow p-4">
                <h2 class="text-center mb-4 font-primary fw-bold text-white text-uppercase">Password Reset</h2>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <ul class="errorlist">
                        {% for key, value in form.errors.items %}
                            <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                        {% endfor %}
                    </ul>
                    <!-- Email input field -->
                    <div class="input-group mb-4 justify-content-center">
                        <label for="email" class="form-label w-100 text-center text-white">Enter Email Address:</label>
                        {{ form.email|attr:"class:form-control rounded-3" }}
                    </div>

                    <!-- Submit and Back to Login buttons -->
                    <div class="justify-content-between">
                        <a class="btn btn-danger text-white" href="{% url 'account_login' %}">
                            Back to Login
                        </a>
                        <button type="submit" class="btn btn-brown text-white">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  {% endblock %}