{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 sign-up-form">
            <h2 class="logo-font mb-4 text-white text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
            {% if token_fail %}
            <p class="text-white text-center">The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{% url 'account_reset_password' % }">new password reset</a>.</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <ul class="text-white">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                </ul>
                <div class="mb-2 justify-content-center input-group">
                    <label for="login" class="form-label w-100 text-center text-white">Enter New Password:</label>
                    {{ form.password1|attr:"class:form-control rounded-3 mb-3" }}
                </div>
                <ul class="text-white">
                    <li>Your password can’t be too similar to your other personal information</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="mb-2 justify-content-center input-group">
                    <label for="login" class="form-label w-100 text-center text-white">Repeat New Password:</label>
                    {{ form.password2|attr:"class:form-control rounded-3 mb-3" }}
                </div>
                <div class="justify-content-between">
                    <a class="btn btn-danger rounded-3 m-3" href="{% url 'account_login' %}">Back to Login</a>
                    <input type="submit" name="action" class="btn btn-brown rounded-3 m-3" value="{% trans 'Change Password' %}" />
                </div>
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}